@import url('styles.css'); 


.container .head-text.gallery-text{
    color: var(--color-3);
    font-size: 1em;
    padding: 20px 0;
}

#gallery-container {
    column-count: 3; /* Creates 3 columns */
    column-gap: 10px; /* Space between columns */
    display: block;
}

.box {
    width: 100%;
    margin-bottom: 10px; /* Spacing between items */
    cursor: pointer;
}

.box img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.box img:hover {
    transform: scale(1.03);
    filter: grayscale(70%); /* Convert to greyscale */
}


.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.lightbox img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 3rem;
    color: red;
    cursor: pointer;
    z-index: 2001;
}

/* Swipe Interaction */
.lightbox-content {
    touch-action: pan-y;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: var(--color-3);
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    user-select: none;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.arrow:hover {
    color: #ddd;
}
/* Initially hide the button */
#back-to-top {
    display: none;

}

#back-to-top:hover {
    background-color: #555;
}

